<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app" style="font-weight: 100; font-size: medium;">
    <div style="font-size: larger; font-weight: 900;">
        Note) If user loses with 10, User has to submit an additional 5 chips.
    </div><br/>
    <div>
        User1_Cards : {{user1_cards}}<br/>
        User2_Cards : {{user2_cards}}<br/><br/>
        Now First : {{winner}}<br/>
        Round : {{round}}<br/><br/>
    </div>

    <div>
        Card Num : user1 -> {{user1_rand}}, user2 -> {{user2_rand}}<br/>
        <button v-on:click="random">select random cards</button>
        <br/><br/>
    </div>

    <div style="font-size: larger; font-weight: 900;">
        Two ways to bet<br/></div>
    <div>
        User bet : user1 -> {{user1_bet}}, user2 -> {{user2_bet}}<br/><br/>
    </div>

    <div  style="font-size: medium; font-weight: 600;">
        [First Method]<br/>
    </div>
    <div>
        How much will you bet?(1 - 10)<br/><br/>
        
        Input User1 bet Chip : <input type="number" placeholder="user1 bet chips" v-model="user1_bet" ><br/>
        Input User2 bet Chip : <input type="number" placeholder="user2 bet chips" v-model="user2_bet" ><br/>
        <button v-on:click="betting">Betting Chips</button><br/><br/>
    </div>

    <div style="font-size: medium; font-weight: 600;">
        [Second Method]<br/>
    </div>

    <div>
        Do you want to go All-In?<br/>
        Just like the number of All-In chips, The Opponent's chips are automatically betted.<br/>
        <button v-on:click="betting_all_in">Betting All Chips</button><br/><br/>
    </div>
    
    <div style="font-size: larger; font-weight: 900;">
        Number of User Chips : user1 -> {{user1_chips}}, user2 -> {{user2_chips}}<br/><br/>
        <button v-on:click="betting_res">Betting Result</button><br/>
    </div>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        //card
        user1_cards:[1,2,3,4,5,6,7,8,9,10],
        user2_cards:[1,2,3,4,5,6,7,8,9,10],
        // Initial chips amount
        user1_chips:20,
        user2_chips:20,
        // rancom card
        user1_rand: 1,
        user2_rand: 1,
        // bet chips
        user1_bet: "",
        user2_bet: "",
       
        //if tied, use before bet chips
        before_user1_bet:"",
        before_user2_bet:"",
        // round
        round : 0,

        //The room manager starts the game first. I randomly set user1 to go first.
        //From the second round, Game start with the winner of the previous round.
        winner: "user1",
                
        // game over check
        game_over_ : false
      },
     
      methods: {
        // random card generating..(1-10) on Back-end, but I've arbitrarily set it up like this.
        random: function() {
            this.round++;
            // used card remove
            this.user1_rand = this.user1_cards.splice(Math.floor(Math.random() * this.user1_cards.length),1)[0];                
            this.user2_rand = this.user2_cards.splice(Math.floor(Math.random() * this.user2_cards.length),1)[0];
        },    
        checkChipNum: function(){ // 1-10 betting chip check
            if(this.user1_bet > 10 || this.user1_bet <1){
                this.user1_bet = "";
                alert("For User1, Submit 1-10 Chips.");

            }
            if(this.user2_bet > 10 || this.user2_bet <1){
                this.user2_bet ="";
                alert("For User2, Submit 1-10 Chips.");
            }
            
                
        },
        betting: function(){        
            if(this.user1_chips > 0 && this.user2_chips > 0){       
                // betting Chips
                // The second person has to pay the same or more than the first person.
                this.checkChipNum();
                if(this.winner == "user1"){
                    if(this.user1_bet > this.user2_bet){    
                        
                        this.user2_bet = "";
                        alert('User2 Chips >= User1 Chips');
                    }
                }
                else{           
                    if(this.user1_bet < this.user2_bet){
                        this.user1_bet ="";
                        arlert('User1 Chips >= User2 Chips');
                    }
                }
            }
        },
        betting_all_in: function(){     
            if(this.user1_chips > 0 && this.user2_chips > 0){       
                // betting Chips
                // The second person has to pay the same or more than the first person.
                
                if(this.winner == "user1"){     
                    this.user1_bet = this.user1_chips;      

                    //Because user1 is all-in, user2 also bets as much as user1 is all-in.
                    if(this.user2_bet >= this.user1_bet){
                        this.user2_bet = this.user2_chips;
                    }
                    else{
                        this.user2_bet = this.user1_chips;
                    }
                }
                else{           
                    this.user2_bet = this.user2_chips;     

                    //Because user2 is all-in, user1 also bets as much as user1 is all-in.
                    if(this.user1_bet >= this.user2_bet){
                        this.user1_bet = this.user2_chips;
                    }
                    else{
                        this.user1_bet = this.user1_chips;
                    }
                }
            }
        },
        betting_res: function(){       
            if(this.user1_chips > 0 && this.user2_chips > 0){

                if(this.before_user1_bet !=0){              //If the previous round was a draw
                    this.user1_bet = parseInt(this.user1_bet) + parseInt(this.before_user1_bet);
                    this.user2_bet = parseInt(this.user2_bet) + parseInt(this.before_user2_bet);
                    this.before_user1_bet =0;
                    this.before_user2_bet =0;
                }
                
                if(this.user1_rand == this.user2_rand){         // to combine it with the betting amount for the next round.
                    this.before_user1_bet = this.user1_bet;
                    this.before_user2_bet = this.user2_bet;
        
                }
                else if(this.user1_rand > this.user2_rand){     // user1 win
                    this.user1_chips = parseInt(this.user1_chips) + parseInt(this.user2_bet);
                    this.user2_chips = parseInt(this.user2_chips) - parseInt(this.user2_bet);
                    
                    if(this.user2_rand == 10){  //-5 chips as penalty if users lose the game with 10
                        this.user2_chips -= 5;
                    }
                    this.winner = "user1";
                }
                else{  //(user1_rand < user2_rand)              // user2 win
                    this.user2_chips = parseInt(this.user2_chips) + parseInt(this.user1_bet);
                    this.user1_chips = parseInt(this.user1_chips) - parseInt(this.user1_bet);

                    if(this.user1_rand== 10){   //-5 chips as penalty if users lose the game with 10
                        this.user1_chips -= 5;
                    }   
                    this.winner = "user2";
                }   
            }
            this.game_over();
            if(this.game_over_ == true){

                var str = "The Game is Over. Winner is " + this.winner + "!";
                alert(str);
            }
        },
        game_over: function(){
            if(this.user1_chips <= 0 || this.user2_chips <= 0){
                this.game_over_ = true;
            }
            else if(this.user1_cards.length== 0 || this.user1_cards.length == 0){
                this.game_over_ = true;
            }
        },
        logText: function() {
          console.log('changed');
        },

      }
    })
  </script>
</body>
</html>



